<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #tallerForm="ngForm">
            <input type="text" name="id" #id="ngModel" [(ngModel)]="tallerService.selectedPersona.id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="nombre" #name="ngModel" [(ngModel)]="personaService.selectedPersona.nombre" placeholder="Enter your FullName">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="apellidos" #name="ngModel" [(ngModel)]="personaService.selectedPersona.apellidos" placeholder="Enter your Apellidos">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="direccion" #name="ngModel" [(ngModel)]="personaService.selectedPersona.direccion" placeholder="Enter your Address">
              </div>
              <div class="input-field col-s12">
                <input type="tel" name="telefono" #name="ngModel" [(ngModel)]="personaService.selectedPersona.telefono" placeholder="Enter your Phone">
              </div>
              <div class="input-field col-s12">
                <input type="email" name="correo" #name="ngModel" [(ngModel)]="personaService.selectedPersona.correo" placeholder="Enter your Email">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right" style="margin-left: 2px;" (click)="resetForm(personaForm)">Clean</button>
                  <button class="btn right"(click)="addPersona(personaForm)">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personaService.personas">
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellidos }}</td>
            <td>
              <a (click)="editPersona(persona)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deletePersona(persona.id, personaForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
