<div class="container">
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form #tallerForm="ngForm">
              <input type="text" name="id" #id="ngModel" [(ngModel)]="tallerService.selectedTaller.id"placeholder="Enter your ID">
              <div class="row">
                <div class="input-field col-s12">
                  <input type="text" name="lugar" #name="ngModel" [(ngModel)]="tallerService.selectedTaller.lugar" placeholder="Enter your Lugar">
                </div>
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right" style="margin-left: 2px;" (click)="resetForm(tallerForm)">Clean</button>
                    <button class="btn right"(click)="addTaller(tallerForm)">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>Id</th>
            <th>Lugar</th>
          </thead>
          <tbody>
            <tr *ngFor="let taller of tallerService.talleres">
              <td>{{ taller.id }}</td>
              <td>{{ taller.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>